---
import { Image } from "astro:assets";
import { Angular } from "../components/Angular.component";
import { React } from "../components/React";
import Layout from "../layouts/Layout.astro";

import astroImg from "../../public/assets/astro.svg";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col justify-between items-center gap-8 flex-1">
    <astro-increment class="flex justify-between w-full items-center">
      <Image class="max-w-32" src={astroImg} alt="Astro logo" />

      <p class="text-2xl">
        <strong>Count:</strong>
        <span id="counter-value" class="transition-transform inline-block"
        ></span>
        <span class="hidden scale-[5]"></span>
      </p>

      <div>
        <button id="increment-btn"> Increment </button>
      </div>
    </astro-increment>
    <div class="grid grid-cols-2 w-full gap-4 flex-1">
      <section>
        <Angular data-analog-id="angular-component" client:load />
      </section>
      <section>
        <React client:load />
      </section>
    </div>
  </main>
</Layout>

<script>
  import { addOutputListener } from "@analogjs/astro-angular/utils";
  import { incrementCount } from "../state/state";

  const incrementButton = document.getElementById("increment-btn");

  incrementButton?.addEventListener("click", () => incrementCount());

  addOutputListener("angular-component", "increment", (value) =>
    incrementCount()
  );
</script>

<style>
  main,
  aside,
  header,
  section {
    padding: 1rem;
    border: dashed 2px #c868b0;
    border-radius: 8px;
  }
  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  header {
    grid-area: header;
  }
</style>
