---
import { Image } from "astro:assets";
import { Angular } from "../components/Angular.component";
import { React } from "../components/React";
import Layout from "../layouts/Layout.astro";

import astroImg from "../../public/assets/astro.svg";
---

<Layout title="Welcome to Astro.">
  <header class="bg-gray-200 flex justify-between gap-8 items-center">
    <Image class="max-w-32" src={astroImg} alt="Astro logo" />

    <div>
      <button id="increment-btn"> Increment </button>
    </div>
  </header>
  <main>
    <Angular client:load />
  </main>
  <aside>
    <React client:load />
  </aside>
</Layout>

<script>
  import { count } from "../state/state";

  document.getElementById("increment-btn")?.addEventListener("click", () => {
    count.set(count.get() + 1);
    console.log("Increment button clicked");
  });
</script>

<style>
  main,
  aside,
  header {
    padding: 1rem;
    border: dashed 2px #c868b0;
  }
  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  header {
    grid-area: header;
  }

  button {
    @apply text-white py-2 px-4 rounded bg-blue-700;

    &:hover {
      @apply bg-blue-800;
    }

    &:active {
      @apply bg-blue-900;
    }
  }
</style>
